aiofiles==0.7.0
alabaster==0.7.12
altair==4.1.0
asgiref==3.4.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
Brotli==1.0.9
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
cloudpickle==1.6.0
cycler==0.10.0
dash==1.21.0
dash-core-components==1.17.1
dash-html-components==1.1.4
dash-table==4.12.0
dask==2021.7.1
debugpy==1.4.0
decorator==5.0.9
docutils==0.17.1
entrypoints==0.3
fastapi==0.67.0
Flask==2.0.1
Flask-Compress==1.10.1
fsspec==2021.7.0
future==0.18.2
h11==0.12.0
idna==3.2
imagesize==1.2.0
ipykernel==6.0.3
ipython==7.25.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.1
locket==0.2.1
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
nbformat==5.1.3
numpy==1.21.1
packaging==21.0
pandas==1.3.1
parso==0.8.2
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
plotly==5.1.0
postgres==3.0.0
prompt-toolkit==3.0.19
psycopg2-binary==2.9.1
psycopg2-pool==1.1
ptyprocess==0.7.0
pydantic==1.8.2
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.18.0
pysqlite3==0.4.6
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
redis==3.5.3
requests==2.26.0
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
starlette==0.14.2
tenacity==8.0.1
toolz==0.11.1
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
wcwidth==0.2.5
Werkzeug==2.0.1
